<h1>Repository Administration Options</h1>
<nav>
  <ul>
    <% if can? :create,  ActiveFedora::Base %>
      <li><%= link_to "Create a new object", hydra_editor.new_record_path()%></li>
    <% end %>
    <li><%= link_to "List unpublished objects", unpublished_index_path()%></li>
  </ul>
</nav>
